* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  padding-top: 50px;
  font-weight: 500;
  font-family: 'HelveticaNeue';
  background-color: #373B44;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #5FA0A3;
  height: 100vh;
}

.intro {
  height: 100vh;
  background-color: #373B44;
}

.nonheading{
  height: 100vh;
  background-color: #777777;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.tab { margin-left: 40px; }

h1 {
  font-size: 4em;
  display: block;
  color: white;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  display: block;
  color: white;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #00B6A6;
  position: relative;
  text-decoration:none;
  
  :hover { 
    opacity: 0.8;
    color: #00B6A6;
    text-decoration:none;
  }
  
  :active {
    top: 1px;
    color: #00B6A6;
  }
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
  
  a {
    color: #00B6A6;
    font-weight: 500;
    text-decoration: none;
  }
}